/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 16, 2016, 6:50:02 PM
    Author     : Zahin
*/

#pane5{
    -fx-background-image: url("../BinaryContent/choose.jpg");
    -fx-background-repeat: stretch;   
    -fx-background-size: 400 400;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); 
}